.container {
  max-width: 1090px;
  padding: 0 30px;
  margin: 0 auto;
}

@media only screen and (min-width: 300px){
  .container {
    padding: 0 12px;
  }
}
@media only screen and (min-width: 546px){
  .container {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1080px){
  .container {
    padding: 0 30px;
  }
}
