@use "../base/typography";
@use "../abstracts/container";
@use "../vendors/general";


.animal__look__img {
    // width: 76px;
    // height: 73.37px;
    width: 90%;
}

.look__animal__title {
    color: #2D2D2D;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.look-dnone{
    width: 52px;
    height: 52px;
}

@media only screen and (min-width: 576px){
    .look{
        margin-top:50px;
    }
    .animal__look__img {
        width: 65%;
    }
}
@media only screen and (min-width: 992px){
    .animal__look__img {
        width: 70%;
    }
}